@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: UberMove, UberMoveText, Poppins, system-ui, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
i {
  color: #fff;
}
.fa-solid .fa-chevron-down {
  margin-left: 0.5rem;
}
.gg-globe-alt {
  display: inline-block;
  margin: -4px 4px;
}
.navbar {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #000;
}
.navbar .third-section {
  width: 70rem;
}
.nav-ele {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.company i {
  padding-left: 0.5rem;
}
.nav-component {
  margin: 0.5rem 0;
}
.nav-component ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav-component ul li {
  padding: 0 1.1rem;
  list-style: none;
}

.nav-component ul li a {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
}

.right-side {
  margin: 1rem 0;
}
.right-side ul {
  display: flex;
}
.right-side ul li {
  margin-right: 1rem;
  margin-left: 2rem;
  list-style: none;
}
.right-side ul li a {
  color: #fff;
  text-decoration: none;
}
.right-side ul li .box-white {
  background: #fff;
  color: #000;
  padding: 5px 8px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
}
.row-part ul li {
  list-style: none;
}
/* Home section */
.backImg img {
  max-width: 100%;
}
.box-section {
  position: absolute;
  top: 9rem;
  height: 33rem;
  left: 9rem;
  width: 35rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.three-section-icon {
  display: flex;
  padding: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.three-section-icon div {
  text-align: center;
  padding: 0 1.5rem;
}
.first-section-icon i {
  color: #000;
}
.first-section-icon {
  margin-left: 2rem;
}
.home-heading h1 {
  margin: 1rem 5rem;
  margin-bottom: 0px;
}

.home-heading {
  font-weight: 800;
  font-size: 1.2rem;
}
.home-heading .left-line {
  background: black;
  width: 0.5px;
  height: 4rem;
  margin: -1rem 6.18rem;
  position: absolute;
}
.home-heading .circle {
  width: 8px;
  position: absolute;
  border-radius: 50%;
  height: 8px;
  border: 2px solid black;
  margin: 4rem 6rem;
}
.location-input,
.destination-input {
  width: 80%;
  height: 3rem;
  background-color: rgb(232, 232, 223);
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  display: block;
  margin-left: 4.5rem;
  /* margin-top: 2rem; */
  color: #000;
}
input:focus {
  outline: none;
}
.location-input {
  margin-top: 1rem;
}
.destination-input {
  margin-top: 2rem;
}
.home-heading .square {
  border: 2px solid black;
  width: 8px;
  height: 8px;
  margin: 3.2rem 6rem;
  position: absolute;
}
input[placeholder] {
  padding-left: 4rem;
}
.home-button {
  margin: 3rem;
}
.home-button a {
  padding: 13px 15px;
  text-decoration: none;
  cursor: pointer;
  background: black;
  color: #fff;
  margin-left: 1.5rem;
  border-radius: 5px;
}
.home-button .secondButton {
  background-color: rgb(232, 232, 223);
  color: #000;
  font-weight: 500;
}
.home-content-dialogue {
  margin-top: -3px;
}
.dialogue-text {
  position: absolute;
  margin: -13rem 9rem;
}
.img-box .mobile {
  display: none;
}
.dialogue-text h1 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.dialogue-text p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.dialogue-text a {
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 13px 15px;
  text-decoration: none;
}
.img-box img {
  max-width: 100%;
  height: 18rem;
  width: 100%;
  object-fit: fill;
  filter: opacity(0.5);
}
/*Home Middle section  */
.third-section {
  max-width: 1500px;
  width: 75rem;
  margin-left: 9rem;
}
.main-heading {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.first-div-img img {
  max-width: 100%;
}
.first-div-description h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.first-div-description p {
  font-size: 1.1rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.first-div-description a {
  font-size: 1.1rem;
  text-decoration-color: burlywood;
  color: darkgrey;
  padding-right: 1rem;
}
.two-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
.second-div {
  margin-left: 4rem;
}
.home-section-2-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: -3rem;
}
.home-section-2-wrap .first-div-content h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.home-section-2-wrap .first-div-content p {
  margin-bottom: 2.5rem;
}
.home-section-2-wrap .first-div-content a {
  font-size: 1.1rem;
  text-decoration-color: burlywood;
  color: darkgrey;
  padding-right: 1rem;
}
.home-section-2-wrap .first-div {
  margin-right: 1.5rem;
}
.vehical-heading {
  margin-bottom: 2rem;
}
.vehical-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-left: 1rem;
}
.vehical-section-first {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11%;
  margin-bottom: 6rem;
}
.vehical-img img {
  max-width: 100%;
}
.vehical-marker h1 {
  display: inline;
  cursor: pointer;
  padding-right: 5rem;
}
.vehical-marker h1:hover {
  transform: translateX(15px);
  transition: 1s;
}

/* The qr code section */
.uber-app-qrcode {
  background: #f4f0f0;
}
.qr-code-heading {
  padding: 3rem 0px;
  font-size: 1.1rem;
}
.qr-code-box-flex {
  display: flex;
  gap: 2rem;
  padding-bottom: 6rem;
}
.qr-code-box-section {
  display: flex;
  height: 13rem;
  width: 45%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.qrcode-img {
  margin: 1.5rem 1.5rem;
  width: 10rem;
}
.qrcode-img img {
  max-width: 100%;
}
.qrcode-content {
  margin: 5rem 0;
  font-size: 1.2rem;
}
.qrcode-content p {
  font-weight: 400;
}
.qr-code-icon {
  margin: 5rem 2rem;
}
.qr-code-icon h1:hover {
  transform: translateX(15px);
  transition: 1s;
}
/* last section */
.last-section .two-sections {
  display: flex;
}
.last-section .two-sections .section-one {
  display: flex;
  margin: 5rem 0rem;
  margin-right: 7rem;
  font-size: 1.4rem;
}
.last-section .two-sections .bottom-line1 {
  border-bottom: 2px solid black;
  width: 30rem;
  position: absolute;
  float: left;
  height: 12rem;
}
.last-section .two-sections .bottom-line2 {
  width: 33%;
  border-bottom: 2px solid black;
  height: 12rem;
  left: 49%;
  position: absolute;
}
.last-section .two-sections .section-one .last-section-icon {
  margin-left: 6rem;
  font-size: 1.7rem;
}
.last-section-icon:hover {
  transform: translateX(15px);
  transition: 1s;
}
/* footer-section */
.footer {
  background: #000;
  color: #fff;
}
.row-part {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 2rem;
}
.uber-logo {
  margin-bottom: 2rem;
}
.uber-logo p {
  padding: 5px;
}
.footer-section {
  padding: 5rem;
  margin-left: 3rem;
}
.footer ul {
  text-align: center;
  text-align: left;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  line-height: 24px;
  text-decoration: none;
  color: #fff;
}
.icons {
  display: flex;
  margin-bottom: 2rem;
}
.icons p {
  padding-right: 6rem;
}
.playstore-icons {
  margin-bottom: 2rem;
}
.playstore-icons img {
  max-width: 10%;
  margin-right: 2rem;
}
.privacy-rights {
  display: flex;
}
.privacy-rights p {
  padding-right: 50%;
}
.privacy-rights .pr2 {
  display: flex;
}
.privacy-rights .pr2 p {
  padding-right: 27%;
}
.location i {
  padding-right: 0.5rem;
}

.english-left {
  margin-left: 20rem;
}

/* side bars on click */
.showLanguages {
  background: #fff;
  color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999;
  display: none;
  transition-property: all;
  transition-duration: 15s;
  transition-timing-function: ease-in;
}
.showLanguages.showLang {
  display: initial;
}
.langNames {
  padding: 5rem;
  display: flex;
  text-align: center;
}

.langNames h1 {
  padding-left: 27%;
}
.langNames p {
  margin-left: 80%;
  position: absolute;
  margin-top: 1rem;
  font-weight: 800;
  cursor: pointer;
}
.lang {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-left: 10rem;
  margin-bottom: 10rem;
}
.lang h2 {
  margin-bottom: 6rem;
}
.lang .act {
  color: #cfcfcf;
}

/* companies drop down */
.show-horizontal {
  margin-left: 18rem;
  width: 12rem;
  position: absolute;
  z-index: 99;
  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.4);
  background: #ffffff;
  border-radius: 6px;
  display: none;
}
.show-horizontal.show {
  display: initial;
}
.show-horizontal h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #9f9d9d;
  padding-top: 0.8rem;
  padding-left: 1.1rem;
  padding-bottom: 8px;
}
.show-horizontal h3:hover {
  background: #f4f0f0;
  width: 100%;
  height: 50%;
}

#root {
  overflow-x: hidden;
}
.mobile-menu {
  display: none;
}
.menu-icon {
  display: none;
}
.mobile-view-navbar {
  display: none;
}
 
